<div>
    <div class="modal-header">
        <h3 class="modal-title">Neues Szenario anlegen:</h3>
    </div>

        <form name="add" ng-submit="ok(newScenario)">
        <div class="modal-body">
            <span>Bitte geben Sie für jedes Jahr Prognose-Werte an!</span>

            <ul class="newScenarioList col-md-12" ng-model="newScenario" ng-init="newScenario=[]">

                <li class="col-md-12">
                    <label for="scenarioName">Name:</label>
                    <input type="text" id="scenarioName" name="name" class="form-control scenarioValue" ng-minlength="3" ng-model="newScenario['name']" required>
                    <div ng-show="add.name.$error.minlength">Der Name muss mindestens 3 Zeichen beinhalten!</div>
                </li>

                <li class="col-md-6" ng-repeat="year in scenarioYears track by $index">
                    <label for="scenarioYear">{{year}}</label>
                    <input name="{{year}}" id="scenarioYear" class="form-control scenarioValue" ng-minlength="1" required
                           ng-model="newScenario['values'][$index]" ng-init="newScenario['values'][$index] = null">
                    <!--
                    <span ng-show="add[year].$error.minlength" class="help-inline">!</span>
                    <span ng-show="add[year].$error.required" class="help-inline">!</span>
                    -->
                </li>
            </ul>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-show="add.$valid" type="submit">Hinzufügen</button>
            <button class="btn btn-warning" ng-click="cancel()">Abbrechen</button>
        </div>
    </form>


</div>

