<div class="consumptionOptions">
    <form name="consumptionOptions">
        <div class="col-md-12">
            <h4 ng-if="!isMobile" class="consumptionOptionsHeadline">REM2030 Einstellungen</h4>
            <label class="col-md-12" for="REEVShare">REEV Anteil an Elektrofahrzeugen:</label>

            <div class="sliderWrapper col-md-8 col-md-offset-1">
                <input id="REEVShare" type="range" ng-model="data.REEVShare" min="0" step="any" max="1"
                       ng-model-options="{debounce: 100}">
            </div>

            <span class="col-md-3 sliderValue">{{(data.REEVShare * 100).toFixed(0)}}%</span>
        </div>

        <div class="col-md-12">
            <label class="col-md-12" for="REMShare"> REM2030 Anteil an REEVs:</label>

            <div class="sliderWrapper col-md-8 col-md-offset-1">
                <input id="REMShare" type="range" ng-model="data.REM2030Share" min="0" step="any"
                       max="1"
                       ng-model-options="{debounce: 100}">
            </div>
            <span class="col-md-3 sliderValue">{{(data.REM2030Share * 100).toFixed(0)}}%</span>
        </div>

        <div class="col-md-12 consumptionOptionsAttribute">
            <h4 ng-if="!isMobile" class="consumptionOptionsHeadline">Fahrzeugwerte</h4>
            <label class="col-md-5 methanolConsumptionLabel" for="methanolConsumption">Verbrauch: </label>

            <div class="methanolConsumptionVariable col-md-3">
                <input id="methanolConsumption"
                       class="form-control" ng-model="methanolConsumption"
                       ng-init="methanolConsumption = (data.InitialMethanolConsumption*100)"
                       type="number"
                       value="{{data.InitialMethanolConsumption*100}}"
                       ng-change="data.InitialMethanolConsumption = (methanolConsumption/100)"
                       ng-model-options="{debounce: 100}"
                       ng-minlength="1"
                       required/>
            </div>
            <div class="col-md-4 lperkm">
                <span> l/100km</span>
            </div>
        </div>

        <div class="col-md-12 consumptionOptionsAttribute">
            <label class="col-md-5 methanolConsumptionLabel" for="learningEffect">Lerneffekt: </label>

            <div class=" col-md-3 methanolConsumptionVariable">
                <input id="learningEffect"
                       class="form-control"
                       name="learningEffect"
                       ng-model="learningEffect"
                       ng-init="learningEffect = (data.learningEffect*100)"
                       type="number"
                       value="{{parseFloat(data.learningEffect*100)}}"
                       ng-change="data.learningEffect = (learningEffect/100)"
                       ng-model-options="{debounce: 100}"
                       ng-minlength="1"
                       required/>
            </div>
            <div class="col-md-4 lperkm">
                <span>%</span>
            </div>
        </div>

        <div class="col-md-12 consumptionOptionsAttribute">
            <h4 ng-if="!isMobile" class="currencyHeadline">Wechselkurs</h4>
            <label class="col-md-5 methanolConsumptionLabel" for="currency">$ nach €: </label>

            <div class="methanolConsumptionVariable col-md-3">
                <input id="currency"
                       name="currency"
                       class="form-control"
                       ng-model="currencyExchange"
                       ng-init="currencyExchange = data['$_TO_€']"
                       type="number" value="{{data['$_TO_€']}}"
                       step="0.01"
                       ng-change="data['$_TO_€'] = currencyExchange"
                       ng-model-options="{debounce: 100}"
                       ng-minlength="1"
                       required/>
            </div>
            <div class="col-md-4 lperkm">
                <span>€/$</span>
            </div>
        </div>
        <div class="valueValidation" ng-show="!consumptionOptions.$valid">Bitte überprüfen Sie ihre Eingabe!</div>
    </form>
</div>