<div class="buttonWrapper make-md-12" ng-class="isMobile ? 'informationMobilePadding' : 'informationDesktopPadding'">
    <button class="btn informationButton" ng-click="openMethod('consumptionCalculation')">
        <i class="glyphicon glyphicon-scale"></i> Methodik Methanol-Bedarf
    </button>
    <button class="btn informationButton" ng-click="openMethod('feedstockPaths')">
        <i class="glyphicon glyphicon-random"></i> Methodik Versorgungspfade
    </button>
    <button class="btn informationButton" ng-click="save()">
        <i class="glyphicon glyphicon-floppy-save"></i> Speichern
    </button>
    <button class="btn informationButton" ng-click="restore()">
        <i class="glyphicon glyphicon-open"></i> Laden
    </button>
    <button class="btn informationButton "ng-click="reset()">
        <i class="glyphicon glyphicon-remove-sign"></i> Zurücksetzen
    </button>
</div>