<ion-header-bar class="bar-stable">
    <h1 class="title">Bio-Methanol Szenario Assessment Tool</h1>
    <div class="zoomButtons">
        <button class="zoomIn button"><i class="glyphicon glyphicon-zoom-in"></i></button>
        <button class="zoomOut button"><i class="glyphicon glyphicon-zoom-out"></i></button>
    </div>
</ion-header-bar>
<ion-content>
    <div class="appContent col-md-12" ng-controller="MainCtrl">
        <div class="col-md-9 left">
            <div class="scenarioOptions col-md-12 white-well">
                <scenario-options></scenario-options>
            </div>
            <div class="consumptionOptions col-md-4 white-well">
                <consumption-options></consumption-options>
            </div>
            <div class="results col-md-8 white-well">
                <results></results>
            </div>
            <div class="dataManipulation col-md-12 white-well">
                <information></information>
            </div>
        </div>

        <ion-scroll direction="y" class="paths col-md-3 white-well">
            <paths></paths>
        </ion-scroll>
    </div>
</ion-content>
<footer class="bar bar-footer bar-stable"><span>Entwickelt von Tobias Domnik</span></footer>