<div class="pathAccordion">
    <h4>Versorgungspfade</h4>
    <accordion close-others="true" ng-init="accordionStatus = {}">
        <accordion-group ng-repeat="path in data.paths" ng-init="accordionStatus[path.name]['isFirstDisabled'] = false;"
                         is-open="accordionStatus[(path.name + path.feedstockName)].open">
            <accordion-heading>
                {{path.name}}:{{path.feedstockName}} <i class="pull-right glyphicon"
                                                        ng-class="{'glyphicon-chevron-down': accordionStatus[(path.name + path.feedstockName)].open, 'glyphicon-chevron-right': !accordionStatus[(path.name + path.feedstockName)].open}"></i>
            </accordion-heading>
            <div class="accordionItemAttribute">
                <dl>

                    <dt>Kapazität</dt></br>
                    <dt>Rohstoffe:</dt>
                    <dd>{{path.capacity |  number:0}}t</dd>
                    <dt>Methanol:</dt>
                    <dd>{{path.MeOHCapacity | number:0}}t</dd>
                    </br>

                    <dt>Kosten:</dt></br>
                    <dt>Produktion </dt>
                    <dd>{{path.productionCosts | number: 2}} €/t</dd>

                    <dt ng-if="path.transportCostOverland > 0">Transport</dt><br ng-if="path.transportCostOverland > 0">
                    <dt ng-if="path.transportCostsMaritimeEuro > 0">-- Maritim:</dt>
                    <dd ng-if="path.transportCostsMaritimeEuro > 0">{{path.transportCostsMaritimeEuro | number: 2}} €/t</dd>
                    <dt ng-if="path.transportCostOverland > 0">-- Überland:</dt>
                    <dd ng-if="path.transportCostOverland > 0">{{path.transportCostOverland | number: 2}} €/t</dd>

                    <dt>Infrastruktur:</dt>
                    <dd>{{path.infrastructureCosts | number: 2}} €/t</dd>
                    </br>

                    <dt>Emissionen:</dt></br>
                    <dt ng-if="isMobile">Rohstoffe:</dt>
                    <dt ng-if="!isMobile">Rohstoffbeschaffung:</dt>
                    <dd>{{path.infrastructureCosts | number: 2}} kgCO<sub>2</sub>/t</dd>
                    <dt>Produktion:</dt>
                    <dd>{{path.productionEmission | number: 2}} kgCO<sub>2</sub>/t</dd>

                    <dt ng-if="path.transportEmissionsOverland > 0">Transport</dt><br ng-if="path.transportEmissionsOverland > 0">
                    <dt ng-if="path.transportEmissionsMaritime > 0">-- Maritim:</dt>
                    <dd ng-if="path.transportEmissionsMaritime > 0">{{path.transportEmissionsMaritime | number: 2}} kgCO<sub>2</sub>/t</dd>
                    <dt ng-if="path.transportEmissionsOverland > 0">-- Überland:</dt>
                    <dd ng-if="path.transportEmissionsOverland > 0">{{path.transportEmissionsOverland | number: 2}} kgCO<sub>2</sub>/t</dd>

                    <dt>Infrastruktur:</dt>
                    <dd>{{path.infrastructureEmissions | number: 2}} kgCO<sub>2</sub>/t</dd>
                    </br>
                    <dt>Gestehungskosten:</dt>
                    <dd>{{path.totalCosts | number: 2}} €/t</dd>
                </dl>
            </div>
        </accordion-group>
    </accordion>
    <h4 class="thcInclude">THC-Kosten berücksichtigen: </h4><input type="checkbox" ng-model="data.includeTHC">
</div>