<div>
    <tabset justified="false">
        <tab heading="Szenario" ng-click="tabSelection = 'vehicleScenario'">
            <div ng-class="isMobile ? 'mobileResultTab' : 'resultTab'">
                <h4 ng-class="isMobile ? 'mobileHeadline' : 'desktopHeadline'">Markthochlauf-Szenario nach {{data.scenarios[scenarioIndex].name}}</h4>
                <div ng-if="tabSelection === 'vehicleScenario'">
                    <span class="xAxe">Fahrzeuge</span>
                    <area-chart class="scenarioChart"
                                tab-selection="tabSelection"
                                data="data.scenarios[scenarioIndex].vehicleScenario"
                                xkey=['Jahr']
                                ykeys="['Fahrzeuge', 'REEVs', 'REM2030']"
                                labels="['Fahrzeuge', 'REEVs', 'REM2030']"
                                min="0"
                                max="data.scenarios[scenarioIndex].vehicleScenario[16].Fahrzeuge">
                    </area-chart>
                    <span class="yAxe">Jahr</span>
                </div>
            </div>
        </tab>

        <tab heading="Fahrleistung" ng-click="tabSelection = 'Fahrleistung'">
            <div ng-class="isMobile ? 'mobileResultTab' : 'resultTab'">
                <h4 ng-class="isMobile ? 'mobileHeadline' : 'desktopHeadline'">Nicht-Elektrischer Fahrtanteil nach {{methodNameMap[chosenMethod]}}</h4>

                <div ng-if="tabSelection === 'Fahrleistung'">
                    <span class="xAxe">km</span>
                    <line-chart-mileage class="scenarioChart"
                                        tab-selection="tabSelection"
                                        data="data.scenarios[scenarioIndex]['cumulatedMileages'+chosenMethod]"
                                        xkey=['Jahr']
                                        ykeys="['Fahrleistung']"
                                        labels="['Fahrleistung']"
                                        min="0"
                                        max="data.scenarios[scenarioIndex]['cumulatedMileages'+chosenMethod][16].Fahrleistung">
                    </line-chart-mileage>
                    <span class="yAxe">Jahr</span>
                </div>
            </div>
        </tab>


        <tab heading="MeOH-Bedarf" ng-click="tabSelection = 'methanolConsumption'">
            <div ng-class="isMobile ? 'mobileResultTab' : 'resultTab'">
                <h4 ng-class="isMobile ? 'mobileHeadline' : 'desktopHeadline'">MeOH-Bedarf nach {{methodNameMap[chosenMethod]}}</h4>

                <div ng-if="tabSelection === 'methanolConsumption'">
                    <span class="xAxe">Tonnen</span>
                    <line-chart class="scenarioChart"
                                tab-selection="tabSelection"
                                data="data.scenarios[scenarioIndex]['cumulatedConsumption'+chosenMethod]"
                                xkey=['Jahr']
                                ykeys="['t']"
                                labels="['t']"
                                min="0"
                                max="data.scenarios[scenarioIndex]['cumulatedConsumption'+chosenMethod][16].t">
                    </line-chart>
                    <span class="yAxe">Jahr</span>
                </div>
            </div>
        </tab>

        <tab heading="{{isMobile ? 'Pfade' : 'Versorgungspfade'}}" ng-click="tabSelection = 'Versorgungspfade'">
            <div ng-class="isMobile ? 'mobileResultTab' : 'resultTab'">
                <h4 ng-class="isMobile ? 'mobileHeadline' : 'desktopHeadline'">Versorgungspfade</h4>

                <div ng-if="tabSelection === 'Versorgungspfade'">
                    <span class="xAxe">Tonnen</span>
                    <bar-chart class="scenarioChart"
                               tab-selection="tabSelection"
                               data="data.scenarios[scenarioIndex]['paths'+chosenMethod]"
                               xkey=['Jahr']
                               ykeys="data.scenarios[scenarioIndex].pathNames"
                               labels="data.scenarios[scenarioIndex].pathNames"
                               min="0"
                               max="data.scenarios[scenarioIndex]['cumulatedConsumption'+chosenMethod][16].t">
                    </bar-chart>
                    <span class="yAxe">Jahr</span>
                </div>
            </div>
        </tab>

        <tab heading="Ergebnisse" ng-click="tabSelection = 'Ergebnisse'">

            <div class="col-md-12 donutChartTab" ng-class="isMobile ? 'mobileResultTab' : 'resultTab'">
                <div class="col-md-8 resultsContentLeft" ng-style="{'margin-top': isMobile ? '0.4em' : '40px'}">
                    <div class="btn-group col-md-7 col-md-offset-1" dropdown>
                        <button type="button" class="btn dropdown-toggle col-md-12" dropdown-toggle>
                            {{norms[chosenNorm]}}
                            <span class="sr-only">Split button!</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="(norm, name) in norms" ng-click="setNorm(norm)"><a>{{name}}</a></li>
                        </ul>
                    </div>

                    <div class="btn-group col-md-3" dropdown>
                        <button type="button" class="btn dropdown-toggle " dropdown-toggle>
                            {{scenarioYears[chosenYear]}}
                            <span class="sr-only">Split button!</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="year in scenarioYears" ng-click="setYear($index)"><a>{{year}}</a></li>
                        </ul>
                    </div>

                    <div class="donutChart col-md-12" ng-if="tabSelection === 'Ergebnisse'" ng-style="{'padding-top': isMobile ? '0' : '2em'}">
                        <donut-chart ng-if="data.scenarios[scenarioIndex].vehicleScenario[chosenYear].Fahrzeuge > 0"
                                     ng-class="isMobile ? 'donutChartMobile' : 'donutChart'"
                                     tab-selection="tabSelection"
                                     data="data.scenarios[scenarioIndex]['paths'+chosenMethod][chosenYear][chosenNorm]">
                        </donut-chart>
                    </div>
                </div>

                <div class="col-md-4 resultsContentRight" ng-style="{'padding-top': isMobile ? '0.4em' : '40px'}">
                    <div class="btn-group unitChooser">
                        <label class="btn btn-primary" ng-model="unit" btn-radio="'t'">per t</label>
                        <label class="btn btn-primary" ng-model="unit" btn-radio="'km'">per km</label>
                        <label class="btn btn-primary" ng-model="unit" btn-radio="'Pfade'">Pfade</label>
                    </div>
                    <dl ng-if="unit != 'Pfade'">
                        <dt>Fahrzeuge:</dt>
                        <dd>{{data.scenarios[scenarioIndex].vehicleScenario[chosenYear].REM2030}}</dd>
                        <dt>Bedarf:</dt>
                        <dd>{{data.scenarios[scenarioIndex]['cumulatedConsumption' + chosenMethod][chosenYear].t}}t</dd>
                        <div ng-if="data.scenarios[scenarioIndex].vehicleScenario[chosenYear].Fahrzeuge > 0">
                            <dt>Kosten:</dt>
                            <dd ng-if="unit == 't'">{{(data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedCosts / data.scenarios[scenarioIndex]['cumulatedConsumption' + chosenMethod][chosenYear].t).toFixed(2)}}€/t</dd>
                            <dd ng-if="unit == 'km'">{{(data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedCosts / data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].Fahrleistung).toFixed(2)}}€/km</dd>
                            <dt>Emissionen:</dt>
                            <dd ng-if="unit == 't'">{{(data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedEmissions / data.scenarios[scenarioIndex]['cumulatedConsumption' + chosenMethod][chosenYear].t).toFixed(2)}}kgCO<sub>2</sub>/t</dd>
                            <dd ng-if="unit == 'km'">{{(data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedEmissions / data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].Fahrleistung).toFixed(2)}}kgCO<sub>2</sub>/km</dd>
                            <dt>Gestehungskosten:</dt>
                            <dd ng-if="unit == 't'">{{(data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedTotalCosts / data.scenarios[scenarioIndex]['cumulatedConsumption' + chosenMethod][chosenYear].t).toFixed(2)}}€/t</dd>
                            <dd ng-if="unit == 'km'">{{(data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedTotalCosts / data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].Fahrleistung).toFixed(2)}}€/km</dd>
                        </div>
                    </dl>
                    <div class="pathsOverview" ng-if="unit == 'Pfade'">
                        <span class="pathsHeadline">Versorgungspfade:</span>
                        <dl ng-repeat="path in filteredPaths = (data.paths | filterPaths:data.scenarios[scenarioIndex]['paths'+chosenMethod][chosenYear])">
                            <dt>{{path.name}}:{{path.feedstockName}}</dt>
                            <dd>{{data.scenarios[scenarioIndex]['paths'+chosenMethod][chosenYear][path.name+':'+path.feedstockName]}}t ({{(data.scenarios[scenarioIndex]['paths'+chosenMethod][chosenYear][path.name+':'+path.feedstockName]/path.MeOHCapacity * 100).toFixed(0)}}%)</dd>
                        </dl>
                    </div>
                    </br>
                </div>

            </div>
        </tab>

        <tab heading="Vergleich" ng-click="tabSelection = 'Vergleich'">
            <div ng-class="isMobile ? 'mobileResultTab' : 'resultTab'">
                <h4 class="comparisonHeadline" ng-class="isMobile ? 'mobileHeadline' : 'desktopHeadline'">Vergleich mit Benzinfahrzeug</h4>

                <div class="btn-group pull-right" dropdown>
                    <button type="button" class="btn dropdown-toggle " dropdown-toggle>
                        {{scenarioYears[chosenYear]}}
                        <span class="sr-only">Split button!</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="year in scenarioYears" ng-click="setYear($index)"><a>{{year}}</a></li>
                    </ul>
                </div>

                <table class="comparisonTable">
                    <tr class="valuesHeader">
                        <td>Kategorie</td>
                        <td>REM2030</td>
                        <td>AUDI A1</td>
                    </tr>

                    <tr class="values">
                        <td>Verbrauch pro 100km</td>
                        <td> {{((data.scenarios[scenarioIndex]['cumulatedConsumption' + chosenMethod][chosenYear].t * 100/(0.001 * 0.79))/data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].Fahrleistung || 0).toFixed(2)}} l</td>
                        <td>4.90 l</td>
                    </tr>
                    <tr class="values">
                        <td>Kosten pro l (ohne Steuern)</td>
                        <td> {{(data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedTotalCosts/(data.scenarios[scenarioIndex]['cumulatedConsumption' + chosenMethod][chosenYear].t /(0.001 * 0.79)) || 0).toFixed(2)}} €</td>
                        <td> {{(data.costsWeight * data.petrolCostsEuroPerLiter + data.emissionsWeight * 2.4 * data.EMISSION_COSTS_PER_KGCO2).toFixed(2)}} € </td>
                    </tr>
                    <tr class="values">
                        <td>Kosten pro km </td>
                        <td> {{(data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedCosts / data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].Fahrleistung * 100 || 0).toFixed(2)}} ct</td>
                        <td> {{(data.costsWeight * (data.consumptionAudiA1LPerKm * data.petrolCostsEuroPerLiter * 100) + data.emissionsWeight * data.emissionsAudiA1kgPerKm * (data.EMISSION_COSTS_PER_KGCO2 * 100)).toFixed(2)}} ct </td>
                    </tr>
                    <tr class="values">
                        <td>Kosten pro km (mit Strom-Anteil) </td>
                        <td> {{(((data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].ElektrischeFahrleistung * data.KWH_PER_KM * data.EURO_PER_KWH * data.costsWeight + data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].ElektrischeFahrleistung * data.KWH_PER_KM * data.kgCO2_PER_KWH * data.EMISSION_COSTS_PER_KGCO2 * data.emissionsWeight) + data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedCosts) / data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].AbsoluteFahrleistung * 100  || 0).toFixed(2)}} ct</td>
                        <td> {{(data.costsWeight * (data.consumptionAudiA1LPerKm * data.petrolCostsEuroPerLiter * 100) + data.emissionsWeight * data.emissionsAudiA1kgPerKm * (data.EMISSION_COSTS_PER_KGCO2 * 100)).toFixed(2)}} ct </td>
                    </tr>
                    <tr class="values">
                        <td>Emissionen pro km </td>
                        <td> {{(data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedEmissions * 1000 / data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].Fahrleistung  || 0).toFixed(2)}} gCO<sub>2</sub></td>
                        <td> 115 gCO<sub>2</sub></td>
                    </tr>
                    <tr class="values">
                        <td>Emissionen pro km (mit Strom-Anteil)</td>
                        <td> {{((data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].ElektrischeFahrleistung * data.KWH_PER_KM * data.kgCO2_PER_KWH + data.scenarios[scenarioIndex]['paths' + chosenMethod][chosenYear].cumulatedEmissions) * 1000 / data.scenarios[scenarioIndex]['cumulatedMileages' + chosenMethod][chosenYear].AbsoluteFahrleistung  || 0).toFixed(2)}} gCO<sub>2</sub></td>
                        <td> 115 gCO<sub>2</sub></td>
                    </tr>
                </table>
                <div class="electricMileageConstants">Annahmen: </br>
                    <div class="assumptions">
                        Stromverbrauch REM2030: {{data.KWH_PER_KM * 100}} kWh/100km </br>
                        Stromkosten: {{data.EURO_PER_KWH * 100}} ct/kWh </br>
                        Emissionen Strommix: {{data.kgCO2_PER_KWH * 1000}} gCO2/kWh </br>
                        Kosten pro kgCO2: {{data.EMISSION_COSTS_PER_KGCO2}} €/kgCO2
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>