<div class="scenarioChooser col-md-4">
    <div class="col-md-8">
        <div>
            <label class="bold">Szenario:</label>
        </div>
        <div class="btn-group scenarioChooser col-md-12" dropdown>
            <button type="button" class="btn dropdown-toggle scenarioChooserButton" dropdown-toggle>
                {{data.scenarios[scenarioIndex].name}}
                <span class="sr-only">Split button!</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="scenario in data.scenarios" ng-click="setScenarioIndex($index)">
                    <a>{{scenario.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <label class="newScenarioLabel">anlegen:</label>
            <button class="btn col-md-12" ng-click="newScenario()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
            <!--
            <span class="show2nd pull-right">
                Anzeigen: <input ng-model="scenario2Disabled" class="" type="checkbox">
            </span>
            -->
        </div>
        <!-- 2nd Scenario
        <div class="btn-group scenarioChooser col-md-12" dropdown>
            <button type="button" class="btn dropdown-toggle scenarioChooserButton" ng-disabled="!  scenario2Disabled" dropdown-toggle>
                {{scenario2.name}}
                <span class="sr-only">Split button!</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="scenario in data.scenarios | filter:{name: '!' + data.scenarios[scenarioIndex].name}"
                    ng-click="setScenario(scenario, 2)">
                    <a>{{scenario.name}}</a>
                </li>
            </ul>
        </div>
        -->
    </div>
</div>
<div class="col-md-3 methodChooserWrapper">
    <div>
        <label class="bold">Berechnungsmethode:</label>
    </div>
    <div class="btn-group methodChooser col-md-11" dropdown>
        <button type="button" class="btn dropdown-toggle scenarioChooserButton" dropdown-toggle>
            {{methodNameMap[chosenMethod]}}
            <span class="sr-only">Split button!</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-click="chosenMethod = data.method1.name"><a>{{data.method1.name}}:{{methodNameMap[data.method1.name]}}</a></li>
            <li ng-click="chosenMethod = data.method2.name"><a>{{data.method2.name}}:{{methodNameMap[data.method2.name]}}</a></li>
        </ul>
    </div>
</div>
<div class="weighting col-md-5">
    <form name="scenarioOptions">
        <div class="col-md-12">
            <label class="bold">Faktorengewichtung:</label>
            <span class="valueValidation" ng-show="!scenarioOptions.$valid">Bitte überprüfen Sie ihre Eingabe!</span>
        </div>
        <div class="col-md-6 calcFactor">
            <div>
                <label>Kosten: </label>
                <input  ng-model="costsWeight"
                        ng-init="costsWeight = (data.costsWeight*100)"
                        class="form-control weightingValue"
                        type="number"
                        step="100"
                        value="{{data.costsWeight*100}}"
                        ng-change="data.costsWeight = costsWeight/100"
                        ng-model-options="{debounce: 100}"
                        ng-minlength="1"
                        required />
                <span>%</span>
            </div>
        </div>
        <div class="col-md-6 calcFactor2">
            <div>
                <label>Emissionen:</label>
                <input  ng-model="emissionsWeight"
                        ng-init="emissionsWeight = (data.emissionsWeight*100)"
                        class="form-control weightingValue"
                        type="number"
                        step="100"
                        value="{{data.emissionsWeight*100}}"
                        ng-change="data.emissionsWeight = emissionsWeight/100"
                        ng-model-options="{debounce: 100}"
                        ng-minlength="1"
                        required />
                <span>%</span>
            </div>
        </div>
    </form>
</div>
