<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>BioMeOH-SAMTool</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/morris/morris.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/scenarioOptions.css" >
    <link rel="stylesheet" href="css/consumptionOptions.css">
    <link rel="stylesheet" href="css/paths.css">
    <link rel="stylesheet" href="css/results.css">
    <link rel="stylesheet" href="css/information.css">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above <link href="css/ionic.app.css" rel="stylesheet">-->
    <script src="config.js"></script>
    <script src="lib/requirejs/require.js" data-main="main"></script>
    <!-- cordova script (this will be a 404 during development)
    <script src="cordova.js"></script>-->
</head>
<body>
<ion-pane ng-controller="AppCtrl" ng-init="loaded = false">
    <div class="spinner" ng-if="loaded"></div>
    <div class="loadingInfo" ng-if="loaded">
        <span>Bitte verwenden Sie eine Auflösung größer 1200x800</span></br>
        <span>Optimiert für Google Chrome, Firefox, Opera und Safari</span>
    </div>
    <div ng-hide="loaded" ng-cloak>
       <app-content></app-content>
    </div>
</ion-pane>
</body>
</html>
