.consumptionOptions > .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.consumptionOptionsHeadline {
    margin-bottom: 1em;
}

.currencyHeadline {
    padding-top: 0.5em;
    margin-bottom: 1em;
}


.sliderValue {
    padding-left: 1em;
    padding-top: 1.2em;
    font-size: medium;
}

#methanolConsumption, #learningEffect, #currency {
    text-align: right;
}

.consumptionOptionsAttribute {
    padding-right: 0;
    padding-bottom: 1em;
}

.methanolConsumptionVariable {
    padding-right: 0;
}

.methanolConsumptionLabel {
    padding-top: 0.5em;
    padding-right: 0;
}

.lperkm {
    font-size: medium;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0;
}

.valueValidation {
    padding-left: 2em;
    color: red;
    font-size: 16px;
}


form input.ng-invalid.ng-touched {
    border-color: rgba(149, 0, 0, 0.70);
}

input[type="number"] {
    text-align: center;
}

.sliderWrapper {
    overflow: hidden;
}

#REEVShare, #REMShare {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 0.5em;
    margin-bottom: 1.8em;
    overflow: visible!important;
}

input[type="range"] {
    height: 60px!important;
    margin-bottom: 1.3em!important;
}


input[type="range"]::-ms-tooltip {
    display: none!important;
}

input[type="range"]::-ms-fill-lower {
    background-color: dodgerblue;
}

input[type="range"]::-ms-fill-upper {
    background-color: #8b8b8b;
}

input[type="range"]::-ms-thumb {
    background-image: url(../img/circle_green.png)
}

input[type="range"]::-ms-thumb {
    background-image: url(../img/circle_green.png)
}
