.buttonWrapper {
    width: 100%;
}

.informationMobilePadding {
    padding: 1em 1em 1em 1em;
}

.informationDesktopPadding {
    padding: 3em 2em 2em 2em;
    height: 100%;
}

.buttonWrapper > button {
    height: 3em;
    margin-right: 2em;
}

.mobileImg {
    height: 550px;
}

.desktopImg {
    height: 700px;
}

.imageWrapper {
    padding: 0 auto;
    text-align: center;
}