.accordionItemAttributes {
    padding: 0;
}

dl dt {
    float:left;
    font-weight:bold;
    margin-right: 10px;
    width: 49%;
}

.pathAccordion {
    min-height: 160%;
    padding-right: 2em;
}

.thcInclude {
 padding-left: 0.5em;
 padding-right: 0.5em;
    display: inline-block;
}