.resultTab {
    padding: 2em 1em 1em 1em;
    min-height: 486px;
}

.mobileResultTab {
    padding: 1em 0.3em 0.2em 0.3em;
}

.donutChartTab {
    padding-left: 0;
}

.donutChart {
    margin-top: 0;
    padding-left: 0;
}
.mobileHeadline {
    padding-bottom: 0;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-align: center;
}

.desktopHeadline {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 30px;
    text-align: center;
}


.scenarioChart {
    padding: 1em 1em 1em 1em;
}

.donutChartMobile {
    padding: 0.2em 0 0 0;
}

#chart svg, #line svg, #lineMileage svg, #area svg, #donut svg  {
    width: 100%;
}


.resultsContentLeft > .btn-group {
    padding-left: 0;
}

.resultsContentRight {
    padding-left: 0;
    padding-right: 0;
}

.resultsContentRight > dl dt {
    float:left;
    font-weight:bold;
    margin-right: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}

.resultsContentRight > dl {
    margin-top: 4em;
    margin-bottom: 0;
}

.unitChooser {
    padding-bottom: 0.5em;
}

.pathsHeadline {
    font-weight: bold;
}

.pathsOverview {
    padding-top: 4em;
}

.pathsOverview > dl {
    padding-top: 0.5em;
    margin-bottom: 0em;
}
.comparisonHeadline {
    display: inline-block;
}

.comparisonTable {
    margin: 2em 3em 1em 3em;
    width: 80%;
    border: #8b8b8b 1px solid;
    border-radius: 5px;
}

.valuesHeader > td {
    background-color: #afafaf;
    font-weight: bold;
}


.comparisonTable > tr, td {
    display: table-cell;
    border: #8b8b8b 1px solid;
    padding: 0.5em 0.2em 0.5em 0.2em;
    vertical-align: middle;
    text-align: center;
}

.values > td:first-child {
    vertical-align: middle;
    text-align: left;
    padding-left: 1em;
}

.valuesHeader > td:first-child {
    vertical-align: middle;
    text-align: left;
    padding-left: 1em;
}

.xAxe {
    font-size: 16px;
}

.yAxe {
    float: right;
    font-size: 16px;
}

.electricMileageConstants {
    margin-left: 4em;
}

.assumptions {
    padding-left: 0.5em;
}