.scenarioOptionsHeadline {
    padding-bottom: 0.5em;
}

.scenarioChooser {
    padding-right: 0;
    padding-left: 0;
}
.show2nd {
    padding-right: 5px;
}

.newScenarioLabel {
    display: block;
}

.scenarioChooserButton {
    width: 100%;
}

.methodChooser {
    padding-left: 0;
    padding-right: 0;
}

.weighting {
    padding-left: 0;
    padding-right: 0;
}
.weighting > .col-md-12 {
    padding-left: 0;
}

.weightingValue {
    width: 55px;
    padding-right: 4px;
    display: inline-block!important;
    border-color: grey;
    text-align: center;
}

.calcFactor {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.calcFactor2 {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

#scenarioName {
    padding: 1em 0 1em 0;
    width: 200px;
    display: inline-block;
}

.scenarioValue {
    width: 100px;
    display: inline-block;
}
.newScenarioList {
    padding: 2em 0 0 2em;
}
.newScenarioList > li {
    padding: 0.5em 0 0.5em 0;
}
