.appContent {
    width: 100%;
    height: 100%;
    padding: 0.1em 0.1em 0 0.1em!important;
}

.left {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
}

.scenarioOptions {
    padding: 2em 1em 2em 1em!important;
    min-height: 15%;
}

.consumptionOptions {
    padding: 1em 1em 0em 1em;
    min-height: 70%;
}

.results {
    padding: 3px 3px 3px 3px;
    min-height: 70%;
}

.paths {
    padding: 1em 1em 1em 2em;
    height: 100%;
}

.dataManipulation {
    padding: 3px 3px 3px 3px;
    min-height: 15%;
}

.white-well {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(181, 181, 181, 0.96);
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: rgba(0, 0, 0, 0.2);
}

.scroll {
    height: 95%;
}

.scroll > div {
    height: 100%;
}

label {
    font-size: medium;
    font-weight: lighter;
    padding-bottom: 0.5em;
}

input[type="number"], input[type="text"] {
    border: 1px solid grey;
    vertical-align: middle;
}

.btn {
    border: 1px solid grey;
}

.in {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.panel-body {
    background-color: white;
}

.bold {
    font-weight: bold;
}

.bar-footer > span {
    min-width: 500px;
}

.col-md-12 {
    padding-left: 1em;
    padding-right: 0;
}

@keyframes rotate360 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate360 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.spinner {
    display:inline-block;
    border-radius: 50px;
    border-style: solid;
    border-bottom-color: #3b5641;
    border-top-color: #67b3a9;
    border-left-color: #df7950;
    border-right-color: #decb3f;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-top: 20%;
    left:  50%;
    animation: rotate360 1s linear infinite;
    -webkit-animation: rotate360 1s linear infinite;
    border-width: 4px;
    height: 60px;
    width: 60px;
}

.zoomButtons {
    position: absolute;
    min-width: 80px;
    top: 4px;
    right: 4px;
}

.loadingInfo {
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-top: 5%;
}
